### Домашнее задание 10 "Библиотека Pandas"

In [1]:
import pandas as pd

**Задание 1.**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
df = pd.read_csv('C:\Datasets\ml-latest-small\\ratings.csv')
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df[df['rating'] == 5.0]['movieId'].value_counts()[:1]

318    153
Name: movieId, dtype: int64

**Задание 2.** По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
df = pd.read_csv('C:\Datasets\\power.csv')
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
baltic_countries = ['Latvia', 'Lithuania', 'Estonia']
categories = [4, 12, 21]
df[(df['country'].isin(baltic_countries)) 
   & (2005 < df['year']) 
   & (df['year'] < 2010) 
   & (df['category'].isin(categories))  
   & (df['quantity']>=0)]['quantity'].sum()

164555.0

**Задание 3.** Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [8]:
tables = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf8')
tables[1].head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1020301,-,1020564,"-0,03 %",-00263,13.02.2021
1,NaN,EUR/RUB,892485,-,893945,"-0,16 %",-01460,13.02.2021
2,NaN,USD/RUB,736520,-,736500,"0,00 %",00020,13.02.2021
3,NaN,JPY/RUB,07019,-,07020,"-0,03 %",-00002,13.02.2021
4,NaN,CNY/RUB,114045,-,114049,"0,00 %",-00004,13.02.2021