### Домашнее задание 11 «Функции и работа с данными»

In [1]:
import pandas as pd

**Задание 1.** Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  

Результат классификации запишите в столбец class.

In [19]:
df = pd.read_csv('ml-latest-small/ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
def rating_class(data):
    if data <=2:
        return 'Низкий рейтинг'
    elif data <= 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [21]:
df['class'] = df.rating.apply(rating_class)
df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

**Задание 2.** Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {  
'Центр': ['москва', 'тула', 'ярославль'],   
'Северо-Запад': ['петербург', 'псков', 'мурманск'],  
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']      
}

Результат классификации запишите в отдельный столбец region.

In [48]:
df = pd.read_csv('ml-latest-small/keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [78]:
def region_class(keyword):
    
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославл'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
  
    for region, cities in geo_data.items():
        for city in cities:
            if city in keyword.split(' '):
                return region
        return 'undefined'

In [79]:
df['region'] = df.keyword.apply(region_class)
df[125:130]

             keyword   shows     region
125  школьный портал  982692  undefined
126  вк моя страница  979105  undefined
127     авито москва  979292      Центр
128      спортмастер  968154  undefined
129  новости украины  965720  undefined

Как было (не правильно):

In [72]:
def region_class(data):
    
    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
    
    for region, cities in geo_data.items():
        if data in cities:
            return region
    return 'undefined'

In [73]:
df['region'] = df.keyword.apply(region_class)
df[125:130]

             keyword   shows     region
125  школьный портал  982692  undefined
126  вк моя страница  979105  undefined
127     авито москва  979292  undefined
128      спортмастер  968154  undefined
129  новости украины  965720  undefined